# Este archivo se utiliza para definir constantes globales
# para utilizarlas en el proyecto, se las accede con process.env.<NOMBRE_VARIABLE>
EXPO_PUBLIC_API_URL="http://localhost:3000"
EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBR4sjsKl936JHBywUIcQakmVcDKWRnFEM"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="natgeo-app.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="natgeo-app"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="natgeo-app.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="105635527818"
EXPO_PUBLIC_FIREBASE_APP_ID="1:105635527818:web:3e8d0944d77210dfa9c173"